*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.refcache
.tags
.targets.mk
/*-[0-9][0-9].xml
/.gems/
/.refcache
/.targets.mk
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-ietf-ntp-update-registries.xml
draft-rsalz-update-registries.xml
lib
package-lock.json
report.xml
venv/
versioned/
!requirements.txt
